# Logistic Regression
Tennis Data

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as pp
%matplotlib inline

In [2]:
#read in the data
td = pd.read_csv('Tennis data.csv')
td.head(5)

,Player1,Player2,Result,FSP,FSW,SSP,SSW,ACE,DBF,NPA,NPW
0,Richard Gasquet,Michael Russell,1,63,55,64,16,7,7,6,59
1,Stephane Robert,Albano Olivetti,1,61,56,77,19,3,2,6,56
2,Jan-Lennard Struff,Guillaume Rufin,0,55,39,47,32,11,13,3,55
3,Aljaz Bedene,Dmitry Tursunov,0,52,59,39,19,13,8,6,55
4,Feliciano Lopez,Florent Serra,1,58,46,50,30,21,3,6,61

In [3]:
td.describe()

,Result,FSP,FSW,SSP,SSW,ACE,DBF,NPA,NPW
count,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,0.468254,58.650794,52.563492,57.880952,23.380952,8.507937,4.952381,4.888889,58.920635
std,0.500983,7.134499,14.223078,13.331831,8.700213,5.333286,2.998285,1.693386,7.432473
min,0.000000,38.000000,13.000000,24.000000,8.000000,0.000000,0.000000,1.000000,44.000000
25%,0.000000,53.000000,43.000000,49.000000,17.000000,5.000000,3.000000,3.000000,55.000000
50%,0.000000,59.000000,53.000000,57.500000,23.000000,8.000000,5.000000,6.000000,58.000000
75%,1.000000,63.000000,62.000000,69.000000,29.000000,11.000000,7.000000,6.000000,63.000000
max,1.000000,75.000000,86.000000,92.000000,45.000000,29.000000,14.000000,7.000000,84.000000